@keyframes float {
    0% {
        transform: translate(0, 0) rotate(var(--symbol-rotate));
    }

    50% {
        transform: translate(0, -10px) rotate(var(--symbol-rotate));
    }

    100% {
        transform: translate(0, 0) rotate(var(--symbol-rotate));
    }
}

.symbol-float {
    --symbol-top: 0%;
    --symbol-left: 0%;
    --symbol-rotate: 0deg;
    --symbol-delay: 0s;
    position: absolute;
    top: var(--symbol-top);
    left: var(--symbol-left);
    animation: float 6s ease-in-out infinite;
    animation-delay: var(--symbol-delay);
}

@keyframes slow-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.animate-spin-slow {
    animation: slow-spin 28s linear infinite;
}